execute2 = {sh,-c,/usr/local/bin/php /var/www/rutorrent/php/initplugins.php app &}

system.daemon.set = true
network.scgi.open_port = 0.0.0.0:5000

directory.default.set = /downloads
session.path.set = /config/session
schedule2 = low_diskspace,5,60,close_low_diskspace=100M

log.open_file = "rtorrent", /var/log/rtorrent.log
log.add_output = "info", "rtorrent"

throttle.min_peers.normal.set = 40
throttle.max_peers.normal.set = 1200
throttle.max_uploads.set = 15
throttle.global_down.max_rate.set_kb = 10000
throttle.global_up.max_rate.set_kb = 5000

network.bind_address.set = 0.0.0.0
network.port_range.set = 51413-51413
pieces.hash.on_completion.set = true
trackers.use_udp.set = true
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
dht.mode.set = auto
dht.port.set = 6881
protocol.pex.set = true
encoding.add = UTF-8
